{% extends "base.html" %}

{% block title %}
 <title> welcome {{ profile.name}} profile</title>
{% endblock title %}

<div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">

    {% block content %}
    

            <h2 class="fw-bold text-uppercase">profile of {{profile.name}}</h2>
            <ul>

            <li class="fw-bold text-uppercase text-primary-emphasis"> Name : {{profile.name}}</li>
            <li class="fw-bold text-uppercase text-primary-emphasis"> Student_id : {{profile.student_id}}</li>
            <li class="fw-bold text-uppercase text-primary-emphasis"> Email:{{profile.email}}</li>
            <li class="fw-bold text-uppercase text-primary-emphasis"> Courses : {{profile.courses}}</li>
            <li class="fw-bold text-uppercase text-primary-emphasis"> phone : {{profile.phone}}</li>

            </ul>
            <div class="row">
                <a href="{% url 'del_student' profile.id %}" class="btn btn-danger col-lg-1">Delete profile</a>
        
                <a href="{% url 'edit_profile' profile.id %}" class="btn btn-secondary col-lg-1">Edit profile</a>
            </div>

    {% endblock content %}
</div>

